extends layout

block content
  h1= title
  p Welcome to #{title}
  p #{value}
  form(action='/' method='POST')
    div.form-group

      input(
        type='file'
        name='send'
      ) 
      input(
        type='submit'
        name='send'
      )
  
    